/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import '~@angular/material/theming';

@include mat-core();

$primary-color: #6997BF;
$secondary-color: #082A40;
$tertiary-color: #ADC8D9;

$warning-color: #FB8C00;
$error-color: #FF4627;
$success-color: #99CC1F;
$disabled-color: #BDBDBD;

$my-app-theme: mat-light-theme($primary-color, $secondary-color, $warning-color);
@include angular-material-theme($my-app-theme);*/

body {
    margin: 0;
}