@import '../../content/scss/colors.constants.scss';

// Home component
.my-home-wrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    overflow-x: hidden;
}

// Save button
.my-save-button-wrapper {
    position: fixed;
    bottom: 27px;
    z-index: 900;
    right: 35px;
}

.my-save-button--color {
    background-color: $primary-color;
}

// Table
.my-table-wrapper {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width: 95%;
    -webkit-transition: width 0.35s;
    transition: width 0.35s;
}

// Toolbar
.my-toolbar-wrapper {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width: 5%;
    position: relative;
}

.my-home-fixed {
    position: fixed;
    width: inherit;
}