<div class="my-home-wrapper">
  <div class="my-table-wrapper" >
    <div *ngFor="let item of userList" [@itemLyfeCycle] >
      <app-card [user]="item" ></app-card>
    </div>
  </div>
  <div class="my-toolbar-wrapper">
      <span class="my-home-fixed">
          <app-toolbar></app-toolbar>
      </span> 
  </div>
  <div class="my-save-button-wrapper">
    <button class="my-save-button--color" mat-fab (click)="handleClickSave()" [disabled]="!isCanBeSaved()">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</div>